/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
    border: 0px;
    padding: 0px; }
  
  .byline {
    color: #999; }
  
  .entry-content img {
    max-width: 100%;
    height: auto; }
  
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }
  
  .entry-content video, .entry-content object {
    max-width: 100%;
    height: auto; }
  
  .entry-content pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px; }
  
  .wp-caption {
    max-width: 100%;
    background: #eee;
    padding: 5px; }
    .wp-caption img {
      max-width: 100%;
      margin-bottom: 0;
      width: 100%; }
    .wp-caption p.wp-caption-text {
      font-size: 0.85em;
      margin: 4px 0 7px;
      text-align: center; }
  
  .post-password-form input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe; }
    [data-whatinput='mouse'] .post-password-form input[type="submit"] {
      outline: 0; }
    .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
      background-color: #14679e;
      color: #fefefe; }
  
  /*********************
  IMAGE GALLERY STYLES
  *********************/
  .gallery {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-right: -15px;
    margin-left: -15px; }
  
  .gallery::before, .gallery::after {
    content: ' ';
    display: table; }
  
  .gallery::after {
    clear: both; }
  
  .gallery.gallery-columns-1 > dl {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-1 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery.gallery-columns-2 > dl {
    width: 50%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-2 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery.gallery-columns-3 > dl {
    width: 33.33333%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-3 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery.gallery-columns-4 > dl {
    width: 25%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-4 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery.gallery-columns-5 > dl {
    width: 20%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-5 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery.gallery-columns-6 > dl {
    width: 16.66667%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-6 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery.gallery-columns-7 > dl {
    width: 14.28571%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-7 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery.gallery-columns-8 > dl {
    width: 12.5%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem; }
    @media print, screen and (min-width: 40em) {
      .gallery.gallery-columns-8 > dl {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
    .gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
      float: right; }
  
  .gallery dl {
    width: 100%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  
  .gallery dl:last-child:not(:first-child) {
    float: right; }
  
  /*********************
  PAGE NAVI STYLES
  *********************/
  .page-navigation {
    margin-top: 1rem; }
  
  /*********************
  COMMENT STYLES
  *********************/
  #comments .commentlist {
    margin-left: 0px; }
  
  #respond ul {
    margin-left: 0px; }
  
  .commentlist li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px; }
    .commentlist li:last-child {
      margin-bottom: 0; }
    .commentlist li ul.children {
      margin: 0; }
  
  .commentlist li[class*=depth-] {
    margin-top: 1.1em; }
  
  .commentlist li.depth-1 {
    margin-left: 0;
    margin-top: 0; }
  
  .commentlist li:not(.depth-1) {
    margin-left: 10px;
    margin-top: 0;
    padding-bottom: 0; }
  
  .commentlist .vcard {
    margin-left: 50px; }
    .commentlist .vcard cite.fn {
      font-weight: 700;
      font-style: normal; }
    .commentlist .vcard time {
      float: right; }
      .commentlist .vcard time a {
        color: #999;
        text-decoration: none; }
        .commentlist .vcard time a:hover {
          text-decoration: underline; }
    .commentlist .vcard img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff; }
  
  .commentlist .comment_content p {
    margin: 0.7335em 0 1.5em;
    font-size: 1em;
    line-height: 1.5em; }
  
  .commentlist .comment-reply-link {
    float: right; }
  
  /*********************
  COMMENT FORM STYLES
  *********************/
  .respond-form {
    margin: 1.5em 10px;
    padding-bottom: 2.2em; }
    .respond-form form {
      margin: 0.75em 0; }
      .respond-form form li {
        list-style-type: none;
        clear: both;
        margin-bottom: 0.7335em; }
        .respond-form form li label,
        .respond-form form li small {
          display: none; }
      .respond-form form input[type=text],
      .respond-form form input[type=email],
      .respond-form form input[type=url],
      .respond-form form textarea {
        padding: 3px 6px;
        background: #efefef;
        border: 2px solid #cecece;
        line-height: 1.5em; }
        .respond-form form input[type=text]:focus,
        .respond-form form input[type=email]:focus,
        .respond-form form input[type=url]:focus,
        .respond-form form textarea:focus {
          background: #fff; }
        .respond-form form input[type=text]:invalid,
        .respond-form form input[type=email]:invalid,
        .respond-form form input[type=url]:invalid,
        .respond-form form textarea:invalid {
          outline: none;
          border-color: #fbc2c4;
          background-color: #f6e7eb;
          -ms-box-shadow: none;
          box-shadow: none; }
      .respond-form form input[type=text],
      .respond-form form input[type=email],
      .respond-form form input[type=url] {
        max-width: 400px;
        min-width: 250px; }
      .respond-form form textarea {
        resize: none;
        width: 97.3%;
        height: 150px; }
  
  #comment-form-title {
    margin: 0 0 1.1em; }
  
  #allowed_tags {
    margin: 1.5em 10px 0.7335em 0; }
  
  .nocomments {
    margin: 0 20px 1.1em; }
  
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar li {
    list-style: none; }
  
  .widget ul {
    margin: 0; }
  
  /*********************
  FOOTER STYLES
  *********************/
  .footer {
    clear: both;
    margin-top: 1em; }
  
  /*********************
  VISUAL EDITOR STYLES
  *********************/
  body#tinymce {
    margin: 20px; }
  
  /*********************
  PLUGIN STYLES
  *********************/
  .gform_body ul {
    list-style: none outside none;
    margin: 0; }
  
  /*# sourceMappingURL=style.css.map */
  
  
  /*********************
  CUSTOM STYLES
  *********************/
  
  body {
      line-height: 25px;
      font-size: 18px;
      color: black;
      font-family: 'Lato', sans-serif;
  }
  
  /* Experimental image zoom effect. Interferes where there are navigation elements over images, like on the Connect page. Hence the .noscale exception class below */
  /* Keeping it within a container element. */
  .content img {
      -webkit-transition: transform 1s;
      transition: transform 1s;
  }
  
  .content img:hover {
      transform: scale(1.1);
      transition-delay: 0.3s;
  }
  
  .content .noscale img:hover,
  .content img.noscale:hover {
      transform: none;
  }
  
  /* Constraing image zoom within container elements. */
  .home article.home-sarmayastar,
  .home article.home-spotlight section div a span,
  .category-news .panel a .featured-image,
  .collections div div.item,
  .archive.tax-smaya_object_genre h1.page-title,
  .archive.tag h1.page-title,
  .archive .panel a .featured-image,
  .archive.tag .content .featured-image,
  .search-results .content .featured-image,
  .category.category-guides article.category-guides section a span,
  .category.category-spotlight .entry-content.grid-x div a span,
  .entry-content p, /*.entry-content a,*/
  .entry-content div.wp-caption,
  .subpost-list .featured-image,
  .related-carousel .tns-item {
      overflow: hidden;
      display: block;
  }
  
  .entry-content .sow-image-container,
  .entry-content .sow-image-grid-image {
      overflow: hidden;
      /* display: block; */
  }
  
  .content a {
      color: #A51D33;
  }
  
  .entry-content div.wp-caption {
      margin-bottom: 1rem;
  }
  
  .ssbp-wrap {
      margin-bottom: 1rem;
  }
  
  div.inner-content {
      padding-bottom: 2rem;
      min-height: 69vh; /* fix for short page content - Learning Resources */
  }
  
  
  /* Vertical slider fix */
  .so-widget-sow-slider {
      width: auto;
      background: #EEE;
  }
  
  .sow-slider-base ul.sow-slider-images li.sow-slider-image > img {
      width: auto;
      margin: 0 auto;
  }
  
  li.sow-slider-image {
      background-size: contain!important;
      background-repeat: no-repeat!important;;
  }
  
  
  
  /* Full width styling */
  main.small-12.medium-12.large-12 {
      padding-left: 0;
      padding-right: 0;
  }
  .single-post .entry-content,
  .single-post .subpost-list,
  .single-post .article-footer {
      width: 83.3333%;
      margin: 0 auto;
  }
  
  .content .inner-content .main header {
      width: 100%;
      margin: 0 auto;
  }
  
  .content .inner-content .main header h2 {
      width: 83.33%;
      margin: 0 auto;
      padding-bottom: 1rem;
  }
  
  .archive .twinimage {
      position: relative;
      /*height: 15rem;*/
      overflow: hidden;
      margin-bottom: 3rem;
  }
  
  .archive .twinimage article {
      height: 100%;
      margin-bottom: 0;
  }
  
  .archive .twinimage section img {
      width: 100%
  }
  
  .archive .twinimage h3.title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      color: white;
      text-align: center;
  /* 	display: block; */
      padding: 3rem;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 90;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.2);
      transition: background-color 0.9s;
      margin-top: 0;
      font-weight: 500;
  }
  
  .archive .twinimage a:hover h3.title {
      background: rgba(165,29,51,0.5);
  }
  
  .archive .twinimage a:hover section img {
      transform: scale(1.1);
  }
  
  .article-header.large-10 {
      margin: 0 auto;	
  }
  
  
  /* Learning Resources variants */
  
  .learning .twinimage p {
    display: contents;
  }
  
  .learning .twinimage {
    margin: 0;
  }
  
  .learning .twinimage h3.title {
    height: calc(100% - 1.8rem)
  }
  
  .su-spoiler-style-fancy > .su-spoiler-title {
    color: white;  
    border-bottom: 1px solid #ccc;
    background: #A51D33!important;
  }
  
  .page .article-header {
      text-align: center;
      margin-bottom: 2rem !important;
  }
  
  .home.page .article-header,
  .page .learning .article-header {
      text-align: center;
      margin-bottom: 0 !important;
  }
  
  
  /* ======= */
  /* Top bar */
  /* ======= */
  
  .top-bar {
      margin: 0 auto;
      padding-top: 1.5rem;
  }
  
  .top-bar, .top-bar ul {
      background: white;
  }
  
  .top-bar .top-bar-left .logo li a {
      margin-top: -2rem;
  }
  
  .top-bar .top-bar-left .logo li a img {
      max-width: 60vw;
      width: 100%;
  }
  
  
  /* ======== */
  /* Top menu */
  /* ======== */
  
  #menu-sarmaya_main_menu-1 {
      max-width: 50vw;
  }
  
  #menu-sarmaya_main_menu-1 li a {
      text-transform: uppercase;
      color: #444;
      font-family: 'Raleway', sans-serif;
      font-size: 0.95rem;
      letter-spacing: 0.07rem;
  }
  
  .menu .active > a {
      background: white;
      border-bottom: 2px solid #A51D33;
      color: #A51D33;
  }
  
  
  /* Changing the dropdown arrow colour */
  .dropdown.menu > li.is-dropdown-submenu-parent.opens-left > a::after {
      border-color: rgba(165,29,51,0.25) transparent transparent;
  }
  
  .top-bar .is-dropdown-submenu {
      border: 0;
      background: white;
      text-align: left;
      min-width: 110px;
      z-index: 101;
  }
  
  .top-bar .is-dropdown-submenu .is-dropdown-submenu-item a {
      background: rgba(235,235,235,0.95);
      margin-bottom: 0.2rem;
      padding: 0.5rem 1rem;
  }
  .top-bar .is-dropdown-submenu .is-dropdown-submenu-item a:hover {
      background: rgba(250,250,250,1);
  }
  
  
  #menu-sarmaya_main_menu.vertical {
      padding-top: 1rem;
  }
  
  .top-bar-right.show-for-small-only ul.menu {
      position: relative;
      display: block;
      height: 3rem;
  }
  
  .top-bar-right.show-for-small-only ul.menu li {
      position: absolute;
      right: 0px;
      top: -0.5rem;
  }
  
  /* Changing the dropdown arrow colour */
  .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
      border-color: rgba(165,29,51,0.25) transparent transparent;
  }
  
  #menu-sarmaya_main_menu.accordion-menu .is-accordion-submenu {
      padding-left: 1.5rem;
  }
  
  
  /* =========== */
  /* Search form */
  /* =========== */
  
  form.search-form {
      background: rgba(0,0,0,0.5);
      padding: 3rem;
      width: 100%;
      z-index: 101!important;
  }
  
  form.search-form .search-submit {
      background: #a51d33;
  }
  
  .search.search-results div.inner-content {
      background: rgba(0,0,0,0.7);
      color: white;
  }
  
  .search.search-results .content a {
      color: white;
      font-weight: bold;
  }
  
  .search.search-results article.type-post {
      background: rgba(0,0,0,0.3);
  }
  
  .search.search-results article.tag-sarmaya-stars {
      background: rgba(165,29,51,0.3);
  }
  
  .search.search-results article section.entry-content,
  .search.search-results article.type-post section.entry-content,
  .search.search-results article.tag-sarmaya-stars section.entry-content {
      padding: 1rem;
  }
  
  .archive h1.archive-title, .search h1.archive-title {
      margin-bottom: 2rem;
  }
  
  .archive h3.title, .search h3.title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 0.7rem;
  }
  
  .archive article, .search.search-results article {
      margin-bottom: 2rem;
  }
  
  .search.search-results section.featured-image {
      position: relative;
  }
  
  .search.search-results section.featured-image img,
  .archive section.featured-image img {
      width: 100%;
  }
  
  .search.search-results section.featured-image .archive-item-type {
      position: absolute;
      top: 0;
      left: 0;
      background: #A51D33;
      padding: 0.5rem;
  }
  
  .astm-search-menu-wrapper {
      display: none;
  }
  
  @media screen and (max-width: 910px) 
  {
  .astm-search-menu-wrapper.is-menu-wrapper {
      display: none;
    }
  }
  
  
  /* Genres and Tags */
  
  .archive.tax-smaya_object_genre .main {
      margin-top: 0;
  }
  
  .page-navigation {
      width: 83.33%;
      margin: 0 auto;
  }
  
  /*.archive.tax-smaya_object_genre .page-navigation {
      display: none;
  }*/
  
  .pagination .current {
      background: #A51D33;
  }
  
  .tax-smaya_object_genre a,
  .tag a {
      transition: color 0.5s;
      color: black;
  }
  .tax-smaya_object_genre a:hover,
  .tag a:hover {
      color: #A51D33;
  }
  
  .tax-smaya_object_genre .page-title,
  .tag .page-title {
      margin-bottom: 2rem;
  }
  .tag .page-title {
      margin-top: -1.5rem;
  }
  .tax-smaya_object_genre .page-title img,
  .tag .page-title img {
      width: 100%;
  }
  
  .archive .taxonomy-type {
      background: #f1f1f1;
      color: white;
      max-width: 50%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 2rem;
      margin-top: -2rem;
      text-transform: uppercase;
  }
  
  .collections-nav ul {
      list-style: none;
      margin-left: 0;
  }
  
  .tax-smaya_object_genre .large-order-2 {
      margin-left: 0;
      margin-bottom: 2rem;
  }
  
  .tax-smaya_object_genre article.smaya_museum_object,
  .tag article.smaya_museum_object {
      border: 1px solid #444;
  }
  
  div.collections-credit {
      text-align: center;
      font-size: 0.875rem;
  }
  div.collections-credit:last-of-type {
      margin-bottom: 0.4rem;
  }
  
  .tag.archive article.tag-sarmaya-stars,
  .tax-smaya_object_genre.archive article.tag-sarmaya-stars {
      background: rgba(165,29,51,0.1);
  }
  
  .tag.archive article.type-post,
  .tax-smaya_object_genre.archive article.type-post {
      background: rgba(0,0,0,0.2);
  }
  
  .tag.archive article section.entry-content,
  .tax-smaya_object_genre.archive article section.entry-content {
      padding: 1rem;
  }
  
  
  
  /* HOME */
  .home .page-title {
      display: none;
  }
  
  .home main.main.cell {
      margin-top: 0;
      padding: 0;
  }
  
  .home .entry-content .panel-layout .panel-grid+.panel-grid {
      width: 83.3333%;
      margin: 0 auto !important;
  }
  
  main.main.cell, .footer .inner-footer .row  {
      margin: 0 auto;
  }
  
  .home .entry-content a {
      color: black;
  }
  
  
  .home .home-spotlight section img {
      width: 100%;
  }
  
  .home .home-spotlight hr {
      width: 83.33%;
  }
  
  .home .home-spotlight .subhead {
      display: block;
      width: auto;
      font-size: 1.5rem;
      max-width: 40%;
      margin: 0 auto;
      margin-top: -2.1rem;
      margin-bottom: 2.1rem;
      background: white;
      color: #A51D33;
  }
  
  .home .home-spotlight section div.large-6+div.large-6 a {
      display: block;
      height: 100%;
  }
  
  .home .home-spotlight section div.large-6+div.large-6 a span {
      display: block;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  
  .home .home-spotlight > div,
  .home .home-sarmayastar > div {
      margin: 1.5rem auto;
      width: 83.33%;
  }
  
  .home .home-sarmayastar {
      text-align: center;
  }
  
  .home .home-sarmayastar header {
      position: relative;
      font-weight: bold;
      background-size: 200%;
      background-position: center;
      background-repeat: no-repeat;
      padding-bottom: 15%;
      padding-top: 15%;
      margin-bottom: 1.5rem!important;
      transition: transform 0.9s;
      height: 15rem;
  }
  
  .home .home-sarmayastar header:hover {
      transform: scale(1.1);
  }
  
  
  .home .home-sarmayastar header h3 {
      font-family: "PlayfairDisplay", serif;
      font-weight: bold;
      text-transform: none;
      font-size: 2rem;
  }
  
  .home .home-sarmayastar header a {
      display: block;
      padding: 10%;
      color: white;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.2);
      transition: all 0.9s;
      z-index: 90;
      font-size: 0.8rem;
  }
  
  .home .entry-content a.excerpt-read-more {
      color: #A51D33;
      font-weight: bold;
      display: block;
  }
  
  .latest-post-selection article img {
      width: 100%;
  }
  
  #pg-2-2 .latest-post-selection article h1 {
      font-family: "PlayfairDisplay", serif;
      letter-spacing: -0.05rem;
      font-size: 2rem;
      min-height: 4.5rem;
  }
  
  #pg-2-2 .latest-post-selection article p .read-more-wrap {
      font-weight: bold;
      color: #A51D33;
      display: block;
      clear: both;
  }
  
  .latest-post-selection article a p {
      max-height: 25rem;
  }
  
  .latest-post-selection article {
      text-align: left;
      border: none!important;
  }
  
  #pgc-2-2-1 .latest-post-selection article {
      text-align: right;
  }
  
  #pgc-2-2-1 .latest-post-selection article img {
      float: none;
  }
  
  #pgc-2-1-0 .latest-post-selection article h1,
  #pgc-2-1-0 .home-spotlight h3 {
      font-size: 2.5rem;
      font-weight: lighter;
      font-family: "Raleway", sans-serif;
      letter-spacing: -0.1rem;
  }
  
  .subscribebox {
      padding: 2rem;
      border: 2px solid black;
      border-bottom: 4px solid black;
      font-weight: bold;
      font-size: 1rem;
      margin: 2rem 0;
  }
  
  .subscribebox * {
      margin: 0;
  }
  
  .subscribebox p.sml_name {
      display: none;
  }
  
  .subscribebox input.sml_emailinput,
  .subscribebox input.email{
      border: 1px solid black;
      border-radius: 0.5rem;
      margin: 1rem auto;
      max-width: 30rem;
  }
  
  .subscribebox input.sml_submitbtn,
  .subscribebox input.button {
      padding: 0.5rem;
      background: white;
      border: 1px solid black;
      color: #A51D33;
      font-weight: bold;
      margin-top: 1rem;
  }
  
  .subscribebox input.sml_submitbtn:hover,
  .subscribebox input.button:hover{
      background: #A51D33;
      color: white;
  }
  
  .subscribebox #mc_embed_signup .mc-field-group.input-group ul {
      margin: 0 auto;
  }
  
  .subscribebox #mc_embed_signup .mc-field-group.input-group ul li {
      display: inline-block;
  }
  
  .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
      width: 272px;
  }
  
  .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
      height: 182px;
  }
  
  .home .sow-image-grid-wrapper {
      overflow: auto;
      height: 15rem;
      scrollbar-width: thin;
  }
  
  
  /* INDEX PAGE */
  .tag-groups-cloud > div {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
  
      -webkit-column-gap: 5rem; /* Chrome, Safari, Opera */
      -moz-column-gap: 5rem; /* Firefox */
      column-gap: 5rem;
  
      -webkit-column-rule: 1px solid #000; /* Chrome, Safari, Opera */
      -moz-column-rule: 1px solid #000; /* Firefox */
      column-rule: 1px solid #000;
  }
  
  .tag-groups-cloud > h3 {
      margin-top: 3rem;
  }
  
  .tag-groups-tag {
      display: inline-block;
      clear: both;
      width: 100%;
      text-align: left;
      line-height: 0.8rem;
  }
  
  .tag-groups-tag a span {
      font-size: 1rem !important;
  }
  
  .tag-groups-cloud-hidden {
      opacity: 1;
  }
  
  
  .page-title, .archive-title,
  .category-guides .article-header h1,
  .category-guides .article-header h4,
  .category .article-header h2,
  .category-guides .article-header .single-title,
  .page .entry-content h2,
  .page .entry-content h3,
  .entry-content .connectbar .ow-button-base a,
  .archive h3.title, .search h3.title,
  .post .article-header .byline,
  .yarpp-related h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
  }
  
  .page .entry-content h2 {
      font-weight:normal;
      font-size:1.75rem;
  }
  
  .tax-smaya_object_genre.archive h3.title,
  .tag.archive h3.title {
      text-transform: none;
      font-weight: 500;
  }
  
  
  /* Spotlight */
  .category.category-spotlight article.category-spotlight {
      margin: 3rem 0;
      border-top: 1px solid black;
      padding-top: 2rem;
  }
  
  .category.category-spotlight .article-header {
      margin-bottom: 0.5rem;
  }
  
  .category.category-spotlight .article-header h2 a {
      font-family: 'Playfair Display Regular', serif;
      font-weight: normal;
      text-transform: none;
  }
  
  .category.category-spotlight .article-header h4 {
      margin: -3.2rem 0 2rem 0;
      font-family: "PlayfairDisplay", serif;
      font-weight: bold;
      color: #A51D33;
      background: white;
      display: inline-block;
      padding-right: 1rem;
      float: left;
  }
  
  .category.category-spotlight article.category-spotlight:nth-of-type(1) {
      margin: 1rem 0;
      border-top: 0;
      padding-top: 0;
  }
  .category.category-spotlight article.category-spotlight:nth-of-type(1) .article-header h4 {
      display: none;
  }
  
  
  .entry-content .connectbar .ow-button-base a {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5em 0.7em;
    background: rgba(140,140,140,0.75);
  }
  
  .connectbar {
      margin-top: -6rem;
      margin-bottom: 5rem;
  }
  
  
  
  /* Post categories */
  
  .category .article-header h2 a {
    font-weight: bold;
    color: black;
  }
  
  .category-at-school .article-header h2 a,
  .category-corporate .article-header h2 a {
    text-transform: none;
    font-size: 2rem;
  }
  
  .taxonomy-description {
    text-align: center;
  }
  
  .page-title {
    font-size: 2.778rem;
  }
  
  /* NEWS */
  .category-news .panel {
      text-align: center;
      border: 1px solid black;
      border-bottom: 4px solid black;
      margin-bottom: 1rem;
      padding: 1rem;
  }
  
  .category-news .panel a {
      color: #999;
      transition: color 0.5s;
  }
  
  .category-news .panel a:hover {
      color: #000;
  }
  
  .category-news .article-header h3 {
    font-family: 'Raleway', sans-serif;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .category-news .panel .entry-content {
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  
  .category-news .panel.newsvideo {
      background: black;
      color: white;
  }
  .category-news .panel.newsvideo a:hover {
      color: white;
      text-decoration: underline; 
  }
  
  
  main.main.cell {
    margin-top: 1.5rem;
  }
  
  .type-page .entry-content {
    text-align: center;
  }
  
  .single-post .entry-content a.news-link {
      text-align: center;
  }
  
  
  /* Collections */
  
  .collections {
      font-family: 'Raleway', sans-serif;
      text-align: left;
      margin-bottom: 2rem;
  }
  
  .collections:nth-of-type(2),
  #pg-45-1 .panel-grid-cell:nth-of-type(2) h3,
  .collections:nth-of-type(2) h4 {
      text-align: right;
  }
  
  .collections h4,
  .page .so-widget-sow-simple-masonry h3.widget-title {
      font-family: 'Playfair Display', serif;
      text-align: left;
      text-transform: capitalize;
  }
  
  /*
  .sow-masonry-grid .sow-masonry-grid-item a img {
      
  }
  
  .sow-masonry-grid .sow-masonry-grid-item a img:after {
    content: attr(title);
    background: black;
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 150;
  } */
  
  #themegrid {
      position: relative;
      width: 100%;
      margin: auto;
  }
  
  .collections ul li:last-child {
      clear: both;
  }
  
  .collections ul li,
  .collections div div.item {
      /*float: left;*/
      list-style: none;
      margin: 0.5rem;
      width: auto;
  }
  
  .collections ul li a,
  .collections div div.item a {
      display: block;
      text-align: center;
      min-height: 6rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 2.5rem;
      transition: all 0.9s;
      height: 100%;
      color: white;
      font-weight: bold;
      word-break: break-word;
      line-height: 1.2rem;
      filter: brightness(100%);
  }
  
  .collections div div.item a:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.3);
      transition: all 0.9s;
      z-index: -1;
  }
  
  .collections ul li a:hover,
  .collections div div.item a:hover {
      transform: scale(1.1);
  }
  
  .collections div div.item a:hover::after {
      display: block;
      background-color: rgba(165,29,51,0.6);
  }
  
  
  .single-smaya_museum_object .content .inner-content .main header.article-header {
      font-family: 'Raleway', sans-serif;
      font-weight: lighter;
      color: #999;
      font-size: 1rem;
      width: 91.66%;
  }
  
  .single-smaya_museum_object h1.entry-title {
      font-family: 'Raleway', sans-serif;
      font-weight: lighter;
      font-size: 1.6rem;
      color: black;
  }
  
  .single-smaya_museum_object .entry-content .grid-x {
      margin-top: 1rem;
  }
  
  .single-smaya_museum_object .entry-content .grid-x .cell {
      position: relative;
  }
  
  .single-smaya_museum_object .ssbp-wrap {
      width: auto;
      right: 1rem;
      position: absolute;
      top: -3.7rem;
  }
  
  
  /* H5P Stars */
  
  .h5p-iframe-wrapper {
      margin-bottom: 1.5rem;
  }
  
  .h5p-iframe .h5p-content-controls {
      background: #a51D33;
  }
  
  .h5p-iframe .h5p-enable-fullscreen, .h5p-disable-fullscreen {
      width: auto;
  }
  
  .h5p-iframe .h5p-enable-fullscreen::before {
      font-family: 'H5P';
      content: "fullscreen"!important;
  }
  
  
  #museumobjectimage {
      cursor: crosshair;
  }
  
  #museumobjectimage img:hover {
      -webkit-filter: brightness(0%); /* Safari 6.0 - 9.0 */
      filter: brightness(0%);
  }
  
  .tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
      background: #A51d33;
      color: white;
  }
  
  .tabs-title > a {
      display: block;
      padding: 0.75rem 1.5rem;
      font-size: .75rem;
      line-height: 1;
      color: black;
      text-transform: uppercase;
  }
  
  .tabs-content > .tabs-panel {
      font-size: 1rem;
  }
  
  .tabs-content > .tabs-panel > h6 {
      margin-top: 1rem;
      margin-bottom: 0;
  }
  
  .tabs-content .tags-title, .tabs-content .genre-title {
      font-weight: bold;
  }
  
  /* Sarmaya Stars landing page */
  .page-id-47 .sow-image-container a img {
      width: 100% !important;
  }
  
  
  .post .article-header {
      text-align: center;
      margin-bottom: 2rem;
  }
  
  .post .article-header .single-title {
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
  }
  
  .post .article-header .byline {
      font-weight: 500;
      font-size: 0.8rem;
      margin-bottm: 0;
  }
  
  
  /* Footer */
  
  footer.footer {
      margin-top: 0;
  }
  
  .footer .inner-footer {
      color: white;
      background-color: #A51D33;
      margin-bottom: 1rem;
      line-height: 40px;
      font-size: 1.2rem;
      font-family: 'Raleway', sans-serif;
      text-align: left;
  }
  
  .footer .inner-footer > div {
      margin: 0 auto;
  }
  
  .footer .inner-footer > div > div{
      padding: 1em;	
  }
  
  .footer .inner-footer .grid-x nav {
      padding: 0.85em 0 0 1rem;
  }
  
  #menu-sarmaya_social_menu .menu-item a {
      color: white;
  }
  
  ul.cnss-social-icon {
      display: inline;
  }
  
  .footer .inner-footer > div > .logo {
      font-size: 1.8rem;
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      line-height: 0;
      letter-spacing: -0.05rem;
  }
  
  .footer .inner-footer > div > div, 
  .footer .inner-footer > div > nav {
      text-align: center;
  }
  
  .source-org.copyright, .footer .inner-footer .grid-x {
      text-transform: uppercase;
      font-size: 0.75rem;
      letter-spacing: 0.2em;
  }
  
  .source-org.copyright {
      text-align: center;
      margin-bottom: 1rem;
      color: #000;
      background-color: #f2f2f2;
  }
  
  
  
  .header > div.grid-x {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #858585;
  }
  
  #top-bar-menu.top-bar.row {
    border-bottom: 0;
  }
  
  
  /* Guides */
  
  .category.category-guides .article-header {
      margin-bottom: 0;
  }
  
  .category.category-guides .article-header h2 a {
      font-weight: 500;
      color: #444;
      font-size: 1.25rem;
  }
  
  .category-guides article.category-guides {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .category-guides article.category-guides section a span {
      background: #111;
  }
  
  .category-guides article.category-guides section a span img {
      max-width: 80%;
  }
  
  .category-guides .article-header .single-title.parent {
      color: white;
      background: black;
      max-width: 50%;
      margin: 0 auto;	
  }
  
  
  /* Subposts display */
  .single-post .main section.subpost-list {
      margin-top: 2rem;
      margin-bottom: 2rem;
  }
  .subpost-list article {
      margin-bottom: 2rem;
  }
  .subpost-list article+article {
      border-top: 1px #999 solid;
  }
  .subpost-list article .article-excerpt {
      display: flex;
      align-items: center;
  }
  .subpost-list article .article-excerpt.large-order-1, 
  .subpost-list article .article-excerpt.medium-order-1, 
  .subpost-list article .article-excerpt.small-order-1 {
      padding-right: 2rem;
  }
  .subpost-list article .article-excerpt.large-order-2, 
  .subpost-list article .article-excerpt.medium-order-2, 
  .subpost-list article .article-excerpt.small-order-2 {
      padding-left: 2rem;
  }
  .subpost-list article .featured-image.large-order-2, 
  .subpost-list article .featured-image.medium-order-2, 
  .subpost-list article .featured-image.small-order-2 {
      text-align: right;
  }
  .subpost-list article .article-excerpt h3 {
      font-family: "Playfair Display", serif;
  }
  
  
  /* Connect page specifics */
  
  #thecollector p:nth-of-type(2) {
      text-align: left;
  }
  
  #thecollector h3 {
      text-align: right;
  }
  
  
  /* Library catalogue page specifics */
  
  .page-id-5108 .dataTables_wrapper .dataTables_filter {
      float: none;
      text-align: center;
  }
  
  
  /* Learning Resources page specifics */
  
  
  
  /* 2D Gallery post specifics */
  
  .menu.logo {
      position: absolute;
      top: 1.5rem;
      left: 1rem;
      z-index: 99;
  }
  
  .menu.logo li {
      list-style: none;
  }
  
  .menu.logo li a img {
      max-width: 260px;
  }
  
  
  /* Related Carousel */
  .single .yarpp-related {
      margin-top: 3rem;
  }
  .single .yarpp-related h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -1rem;
  }
  .single .related {
      margin: 0 auto;
  }
  .related-carousel .tns-item {
      text-align: center;
  }
  .related-carousel .tns-item a {
      font-weight: lighter;
  }
  .related-carousel .tns-item a img {
      background: #ddd;
      margin-bottom: 1rem;
  }
  .tns-controls {
      width: auto;
      float: left;
      font-weight: bold;
  }
  .tns-controls button,
  .tns-outer button {
      margin-right: 0.3rem;
      color: #999;
  }
  
  
  
  /* Responsive styles */
  
  @media (min-width:400px) {
  .top-bar .top-bar-left .logo li a img {
      max-width: 260px;
  }
  }
  
  
  @media (min-width:781px) {
  
  /* fron line #542 */
  #menu-sarmaya_main_menu-1 {
      max-width: 60vw;
  }
  
  /* fron line #582 */
  #pgc-2-1-0 .latest-post-selection article h1,
  #pgc-2-1-0 .home-spotlight h3 {
      font-size: 5rem;
  }
  
  /* from line #825 */
  .home .home-sarmayastar header h3 {
      font-size: 3rem;
  }
  
  /* from line #831 */
  .home .home-sarmayastar header a {
      font-size: 1rem;
  }
  
  /* from line #807 */
  .home .home-sarmayastar header {
      background-size: cover;
      height: auto;
  }
  
  #pg-45-1 .panel-grid-cell:nth-of-type(1) .sow-masonry-grid {
      padding-right: 0;
  }
  
  #pg-45-1 .panel-grid-cell:nth-of-type(2) .sow-masonry-grid {
      padding-left: 2rem;
      border-left: 1px solid black;
  }
  
  /*div#genregrid {
      border-left: 1px solid black;
      padding-left: 20%;
  }*/
  
  #thecollector p:nth-of-type(2) {
      column-count: 2;
      column-gap: 40px;
      column-rule: none;
  }
  
  .archive .twinimage {
      /*height: 18rem;*/
  }
  .archive .twinimage h3.title {
      padding: 5rem;
  }
  
  .footer .inner-footer > div > .logo {
      text-align: right;
  }
  
  }
  
  @media (min-width:1025px) {
  
  /* fron line #542 */
  #menu-sarmaya_main_menu-1 {
      max-width: 70vw;
  }
  
  /* fron line #582 */
  #pgc-2-1-0 .latest-post-selection article h1,
  #pgc-2-1-0 .home-spotlight h3 {
      font-size: 7rem;
  }
  
  .single-post .entry-content,
  .single-post .subpost-list,
  .single-post .article-footer {
      width: 66.6666%;
  }
  
  .single-smaya_museum_object .ssbp-wrap {
      width: 62%;	
  }
  .tag-groups-cloud > div {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
  }
  
  .archive .twinimage {
      /*height: 25rem;*/
  }
  .archive .twinimage h3.title {
      padding: 7rem;
      font-size: 1.5rem;
  }
  
  .subpost-list article {
      margin-bottom: 0;
  }
  
  }
  
  @media (min-width:1500px) {
  
  .subpost-list article .article-excerpt.large-order-1, 
  .subpost-list article .article-excerpt.medium-order-1, 
  .subpost-list article .article-excerpt.small-order-1 {
      padding-right: 0;
  }
  .subpost-list article .article-excerpt.large-order-2, 
  .subpost-list article .article-excerpt.medium-order-2, 
  .subpost-list article .article-excerpt.small-order-2 {
      padding-left: 0;
  }
  
  }
  
  
  /*sportlight detail page*/
  @media screen and (min-width:768px) and (max-width:991px){
      .post .article-header .single-title{
          font-size:2rem!important;
      }
      .post .article-header .byline a,.post .article-header .byline{font-size:0.85rem!important;}
      .entry-content #bsf_rt_marker p{font-size:1rem!important;}
  }
  
  
  
  